<%-include("header")-%>
    <div class="app">

        <h1 class="title">Weather App</h1>
        <div class="form-div">
            <form action="/" method="post" class="form">
                <!--<label for="cityInput" class="city-label"> City Name: </label>-->
                <input id="cityInput" class="city-input" type="text" name="cityname" placeholder="Enter City Name" />
                <button type="Submit" class="button">Submit</button>
            </form>
        </div>
    </div>
    <%-include("footer")-%>